Django>=3.0,<4.0
psycopg2-binary>=2.8
djangorestframework
markdown
django-filter
djangorestframework-jsonapi
djangorestframework-jsonapi[django-filter]
djangorestframework-jsonapi[django-polymorphic]
djangorestframework-jsonapi[openapi]
django-cors-headers
pyyaml
uritemplate
